<div class="form-group {{class}}" [formGroup]="formGroup">
    <label [for]="id">
        {{label}}:
        <span class="campo-obrigatorio" *ngIf="required">*</span>
    </label>
    <input type="text" [id]="id" [name]="name" class="form-control {{classInput}}" [style]="style" bsDatepicker
        [bsConfig]="bsConfig" autocomplete="off" data-date-format="format" [placeholder]="placeholder" lang="pt-br"
        minlength="10" maxlength="10" pInputText [pKeyFilter]="forDate" [formControlName]="formControlName">
    <div class="has-danger" *ngIf="verificaEstado">
        <div *ngFor="let er of errorMessage">
            <div class="form-control-feedback">{{er}}</div>
        </div>
    </div>
</div>
