<div [ngClass]="obterClass()">
  <div class="card mt-3">
    <div class="card-header">
      <h5><i class="fas fa-star" style="font-size: 18px;"></i>
        Meus favoritos</h5>
      <div class="m-loader" style="width: 30px; display: inline-block;" *ngIf="carregandoFavoritos"></div>
    </div>
    <div class="card-body">
      <div class="row" *ngFor="let item of favoritos">
        <div class="col">
          <div class="col-md-10 float-left">
            <p class="col"
              style="word-wrap: normal; color: #063b7d; font-weight: bold; font-size: 14px; margin-left: -30px;">
              <a (click)="navega(item)" style="cursor: pointer;">
                {{item.name}}
              </a>
            </p>
          </div>
          <DIV class="col-md-2 float-left">
            <button type="button" class="btn btn-primary"
              style="padding-left: 3px; padding-right: 0px; padding-top: 1px; padding-bottom: 1px;" (click)="remove(item)">
              <i class="la la-remove"></i>
            </button>
          </DIV>
        </div>
      </div>
    </div>
  </div>
</div>