<div class="fab"  (click)="scroll(rodape)">
  
    <button class="main" >
      
    </button>
  </div>
          <div class='rodape' id='rodape' *ngIf="exibirRodape">
            <span style="float:right; cursor:pointer;font-size: 10px" (click)="scroll(rodape)">[X]&nbsp;&nbsp;</span>
            <span>
              <ul style="list-style-type: none; text-align: left; margin-top: 16px; margin-left: -20px; margin-right: 8px;">
                <li>
                  <h5><b>Suporte</b></h5>
                </li>
                <li>
                  <b>Professores:</b> o mySuite pode ser encontrado na Sala Virtual – Fale Conosco.
                  <br />
                  <b>Atendimento:</b> 21 3799-4770
                </li>
                <li>
                  <b>Conveniadas e Núcleos:</b> Remeter seus chamados por meio do mySuite.<br />
                  <b>SIGA 1:</b> 21 3799-4606<br />
                  <b>SIGA 2:</b> 21 3799-4750<br />
                </li>
              </ul>
            </span>
        </div>        
  <!--  <div #rodape></div>  -->
  
  
  
  