<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <ng-content></ng-content>
        </div>
        <!-- os botões ficam no meio da página -->
        <!--div class="row justify-content-center">
            <button type="submit" class="btn btn-primary" (click)="acaoBuscar()">
                <i class="fa fa-search"></i>Buscar</button>
            <button type="button" class="btn btn-default" (click)="acaoLimpar()">
                <i class="fa fa-eraser"></i>Limpar</button>
            <button type="button" class="btn btn-primary" (click)="acaoNovoRegistro()" *ngIf="exibirNovo">
                <i class="fa fa-plus"></i>Novo
            </button>
        </div-->
    </div>
</div>
