.m-aside-menu.m-aside-menu--skin-light {
  background-color: #07315F;
  border-radius: 6px;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
  color: #ffffff;
  text-transform: uppercase;
  font-family: bolt;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-icon {
  color: #97b1c3;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #a8aabb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #a8aabb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__ver-arrow {
  color: #a8aabb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link {
  background-color: #f8f8fb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-text {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-icon {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__ver-arrow {
  color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__heading,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded {
  background-color: #07315F;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__link .m-menu__link-text {
  color: #ffffff;
}
.m-menu__item.m-menu__item--expanded.m-menu__item--open > a.m-menu__link:first-of-type .m-menu__link-text {
  color: #5b9bd1 !important;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__link .m-menu__link-icon {
  color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__link .m-menu__ver-arrow {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link {
  background-color: #f8f8fb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-text {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-icon {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #f8f8fb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #f8f8fb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__ver-arrow {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link {
  background-color: #f8f8fb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #97b1c3;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #97b1c3;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__ver-arrow {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__arrow {
  color: #ffffff;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__section .m-menu__section-text {
  color: #a4a7bd;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__section .m-menu__section-icon {
  color: #aaacc2;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-text {
  color: #ffffff;
  text-transform: uppercase;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-icon {
  color: #97b1c3;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #a8aabb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #a8aabb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__ver-arrow {
  color: #a8aabb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__heading,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__link {
  background-color: #f8f8fb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-text {
  color: #696e92;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-icon {
  color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__ver-arrow {
  color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--expanded > .m-menu__heading,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--expanded > .m-menu__link {
  background-color: #f8f8fb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--expanded > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--expanded > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--expanded > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--expanded > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link {
  background-color: #f8f8fb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-text {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-icon {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__ver-arrow {
  color: #9a9caf;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link {
  background-color: #f8f8fb;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #716aca;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #716aca;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__ver-arrow {
  color: #5b9bd1;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__section .m-menu__section-text {
  color: #a4a7bd;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__section .m-menu__section-icon {
  color: #aaacc2;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.4);
  -moz-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.4);
  box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.4);
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__heading .m-menu__link-text,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__link .m-menu__link-text,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__link .m-menu__link-text {
  color: #5b9bd1;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__heading .m-menu__link-icon,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__link .m-menu__link-icon,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__link .m-menu__link-icon {
  color: #5b9bd1;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #a8aabb;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #a8aabb;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__heading .m-menu__ver-arrow,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__link .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item > .m-menu__link .m-menu__ver-arrow {
  color: #a8aabb;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link {
  background-color: #f8f8fb;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-text,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-text,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-text {
  color: #5e6383;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-icon,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-icon,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-icon {
  color: #9a9caf;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #9a9caf;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #9a9caf;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__ver-arrow,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__ver-arrow {
  color: #9a9caf;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__heading,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__link,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__heading,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__link {
  background-color: #f8f8fb;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #9a9caf;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--expanded > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #9a9caf;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link {
  background-color: #f8f8fb;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-text,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-text,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-text {
  color: #5e6383;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-icon,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-icon,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-icon {
  color: #9a9caf;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #9a9caf;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #9a9caf;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__ver-arrow,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):hover > .m-menu__link .m-menu__ver-arrow {
  color: #9a9caf;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link {
  background-color: #f8f8fb;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
  color: #716aca;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
  color: #716aca;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
  background-color: #716aca;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
  background-color: #716aca;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__ver-arrow,
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__ver-arrow {
  color: #716aca;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__section .m-menu__section-text,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__section .m-menu__section-text {
  color: #a4a7bd;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__section .m-menu__section-icon,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__section .m-menu__section-icon {
  color: #aaacc2;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__separator,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-fgv .m-menu__nav.m-menu__nav--dropdown-submenu-arrow .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__arrow,
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-fgv .m-menu__nav.m-menu__nav--dropdown-submenu-arrow .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__arrow {
  color: #fff;
}
.m-aside-menu .m-menu__link-text {
  font-size: 1.2rem;
}
span.title {
  font-size: 12px !important;
}
