<div class="form-group {{class}}" [formGroup]="formGroup">
    <label [for]="id">
        {{label}}:
        <span class="campo-obrigatorio" *ngIf="required">*</span>
    </label>
    <input type="password" [id]="id" [name]="name" class="form-control {{classInput}}" [style]="style" [maxlength]="maxlength"
        [minlength]="minlength" [formControlName]="formControlName" [placeholder]="placeholder" 
        pPassword
        [feedback]="feedback"
        [promptLabel]="promptLabel"
        [weakLabel]="weakLabel"
        [mediumLabel]="mediumLabel"
        [strongLabel]="strongLabel">
    <div class="has-danger" *ngIf="verificaEstado">
        <div *ngFor="let er of errorMessage">
            <div class="form-control-feedback">{{er}}</div>
        </div>
    </div>
</div>
