<div [@routerTransition]>
  <!-- <app-bread-crumb-default [breadCrumb]="'Home'"></app-bread-crumb-default>
  <div class="m-content col float-left">

    <app-categoria-documentos-home [cols]="6"></app-categoria-documentos-home>
    <app-mais-visitados [cols]="6"></app-mais-visitados>

    <app-recursos-favoritos [cols]="6"></app-recursos-favoritos>

    <app-avisos-home [cols]="6"></app-avisos-home>

    <div class="col-12 float-left"></div>
    <app-grafico-matriculas-efetuadas [cols]="8"></app-grafico-matriculas-efetuadas> 
    <app-sistemas-externos [cols]="6"></app-sistemas-externos>
    
  </div> -->
</div>